{% extends "templates/layout.html.twig" %}

{% block content %}

    <div class="u-display-flex u-align-items-center u-flex-direction-column u-gap-4">
        <h1 class="u-font-size-lg">{{ battleWinner|capitalize }} Wins</h1>
        <p class="u-font-size-md">{{ message }}</p>

        <a href="{{ route.urlFor('selectCardCollection') }}" class="c-button is-blue">Finish</a>
    </div>

{% endblock content %}