{% extends "templates/layout.html.twig" %}

{% block content %}

    <div class="w-[500px] flex flex-col items-center mt-14 mx-auto">
        <h1 class="text-lg">{{ roundWinner|capitalize }} wins</h1>
        <div>Round {{ round }}</div>

        {% if statusBattle.isFinished() %}
            <a href="{{ route.urlFor('battleResult') }}" class="button primary">battle result</a>
        {% else %}
            <a href="{{ route.urlFor('startedBattle') }}" class="button primary">next round</a>
        {% endif %}
    </div>

{% endblock content %}