{% extends "templates/layout.html.twig" %}

{% block content %}

    <div class="u-display-flex u-align-items-center u-flex-direction-column u-gap-4">
        <h1 class="u-font-size-lg">{{ roundWinner|capitalize }} Wins</h1>
        <p class="u-font-size-md">Round {{ round }}</p>

        {% if statusBattle.isFinished() %}
            <a href="{{ route.urlFor('battleResult') }}" class="c-button is-blue">Battle Result</a>
        {% else %}
            <a href="{{ route.urlFor('startedBattle') }}" class="c-button is-blue">Next Round</a>
        {% endif %}
    </div>

{% endblock content %}