{% extends "templates/layout.html.twig" %}

{% block content %}

    <div class="w-[500px] flex flex-col items-center mt-14 mx-auto">
        <h1 class="text-lg">Winner {{ roundResult.winner }}</h1>
        <div>Round {{ roundResult.round }}</div>
        <a href="{{ route.urlFor('startedBattle') }}" class="button primary">next round</a>
    </div>

{% endblock content %}