{% extends "templates/layout.html.twig" %}

{% block content %}

    {% embed "templates/message.html.twig" with {
        'title': 'Prepare-se para a batalha !',
        'content': 'Escolha os 5 melhores herois para lutar em uma batalha.
            Você pode conseguir novas cartas se vencer. Boa sorte !'
    } %}{% endembed %}

    <form action="{{ route.urlFor('startBattle') }}" method="post">
        <div class="c-card-collection">
            {% for card in cards %}
                {% embed "components/card.html.twig" with {
                    input: {
                        type: 'checkbox',
                        name: 'card-collection[]'
                    },
                    card: card,
                } %}{% endembed %}
            {% endfor %}
        </div>

        <button type="submit" class="c-button c-button--green">Start Battle</button>
    </form>

{% endblock content %}