{% extends "templates/layout.html.twig" %}

{% block content %}

    {% embed "templates/message.html.twig" with {
        'title': 'Chegou a hora !',
        'content': 'Você não sabe quem irá enfrentar !
            Escolha com sabedoria o heroi que irá batalhar a favor da sua equipe.'
    }%}{% endembed %}

    <form action="{{ route.urlFor('toBattle') }}" method="post">
        <div class="c-card-collection">
            {% for card in battle.playerCardCollection %}
                {% embed "components/card.html.twig" with {
                    input: {
                        type: 'radio',
                        name: 'card-to-battle'
                    },
                    card: card,
                } %}{% endembed %}
            {% endfor %}
        </div>

        <div class="u-width-100 u-display-flex u-justify-content-center u-margin-bottom-4">
            <button type="submit" class="c-button is-green">To Battle</button>
        </div>
    </form>

    <div class="card-group">
        <div class="c-card-collection">
            {% for card in battle.machineCardCollection %}
                {% embed "components/card.html.twig" with {
                    card: card,
                } %}{% endembed %}
            {% endfor %}
        </div>
    </div>

{% endblock content %}