@import "reset.css";
@import "vars.css";
@import "card.css";
@import "card-collection.css";
@import "button.css";

.c-header {
    width: 100%;
    height: 8rem;
    margin-bottom: 5rem;
    background-color: aliceblue;

    .c-header__container {
        width: var(--container-width);
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;

        .c-header__title {
            text-transform: uppercase;
            font-size: 1.4rem;
        }
    }
}

.c-main-content {
    width: var(--container-width);
    margin: 0 auto;
}

.c-message {
    width: var(--container-width);
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin: 0 auto 5rem auto;
    padding: 4rem 0;
    border-radius: .5rem;
    background-color: aliceblue;

    .c-message__title {
        font-size: 1.4rem;
    }

    .c-message__content {
        font-size: 1.2rem;
    }
}

/* Utils */

.u-font-size-md {
    font-size: 1.4rem;
}

.u-font-size-lg {
    font-size: 2.0rem;
}

.u-width-100 {
    width: 100% !important;
}

.u-display-flex {
    display: flex !important;
}

.u-flex-direction-column {
    flex-direction: column !important;
}

.u-gap-4 {
    gap: 4rem !important;
}

.u-justify-content-center {
    justify-content: center !important;
}

.u-align-items-center {
    align-items: center !important;
}

.u-margin-bottom-4 {
    margin-bottom: 4rem !important;
}
