<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ assets('css/styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ assets('images/favicon.ico') }}">
    <title>cardGame</title>
</head>
<body>
    <header class="c-header">
        <div class="c-header__container">
            <h1 class="c-header__title">{{ page }}</h1>
        </div>
    </header>

    <main class="c-main-content">
        {% block content %}
        {% endblock content %}
    </main>

    {% block footer %}
    {% endblock footer %}
    
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>